# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
Packages/
Package.pins
*.xcodeproj

# Playgrounds
timeline.xctimeline
playground.xcworkspace
